.notify__btn {
  min-width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
  opacity: 0.5;
  background: linear-gradient(to right, $light-coral, $medium-purple);
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba($shadow, .16);
  transition: all 0.2s cubic-bezier(0.1, 0.77, 0.58, 1);
  cursor: default;
  z-index: 2;
  &::before {
    content: '';
    width: 91%;
    height: 90%;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: inherit;
    background: linear-gradient(to bottom, $secondary, $primary);
    box-shadow: 0 6px 6px rgba($shadow, .35);
    z-index: 0;
  }
  i {
    padding: 7px 0;
    color: $text;
    font-size: 23px;
    z-index: 5;
  }
  &.notify {
    opacity: 1;
    cursor: pointer;
  }
}