// Icon params
.icon-sites-building {
  padding: 3px 0;
  margin-right: 12px; 
  font-size: 2.7em;
  text-shadow: 0 5px 5px rgba($shadow, .3);
  color: rgba($text, .7);
}

.icon-sites-alert {
  padding: 3px 0;
  margin: 10px 12px 0;
  font-size: 1.5em;
  text-shadow: 0 5px 5px rgba($shadow, .3);
  color: $status-alert;
  transform: rotateZ(-15deg);
  animation: site-alert 1.1s ease-in-out infinite;
  transform-origin: 50% 0;
}
.db__item__block .people_hovered:hover .peoples__mashines  {
  display: flex;
}
.peoples__mashines {
  min-width: 100%;
  min-height: 100%;
  display: none;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: darken($primary, 3);
  z-index: 5000;
  user-select: none;
  cursor: default;
  li {
    color: rgba($text, .7);
    margin: 2px;
  }
}

@keyframes site-alert {
  50% { transform: rotateZ(15deg) }
}