  // Subbuttons & hover action
.button__sub {
  display: flex;
  align-items: center;
  padding: 3px 0;
  position: relative;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
  // Hover & checked elements
.sub__ring {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0, 0.92, 0.13, 1.19);
  transform: scale(1);
}
.dot {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;
}
 // Hover submenu action
.button__sub:hover {
    .dot{
      background: $light-coral;
      box-shadow: 0 0 10px $light-coral;
    }
  }

// Subbutton checked action
.button__sub.sub_selected {
  .sub__ring {
    transform: scale(0.8);
    border: 3px solid $light-coral;
    box-shadow: 0 0 10px $light-coral;
    .dot {
      background: $light-coral;
      box-shadow: 0 0 10px $light-coral;
    }
  }
}