  // COLORS
$primary: #ecd9d8;
$secondary: #c7c7c7;
$light-coral: #fd797a;
$medium-purple: #7365dc;
$pale-green: #7dff79;
$green-yellow: #CEFF79;
$lemon-chiffon: #FFFB79;
$aqua: #07DACF;
$state-blue: #7394F0;
$text: #292929;
$disable: #656972;
$shadow: #646464;

  // INDICATOR COLOR
$indicator-pale-green: #11c00b;
$indicator-green-yellow: #CEFF79;
$indicator-lemon-chiffon: #FFFB79;
$indicator-light-coral: #f81010;
$indicator-state-blue: #7394F0;
$indicator-disable:#646464;
  
  // STATUS COLOR
$status-update: #11c00b;
$status-good: #11c00b;
$status-alert: #f81010;
$status-warning: #c9c322;
$status-cold: #7394F0;
$status-disable: #C6B9CD;
//-------
// POINTERS ON THE MAP
$wear-pointer: #80c87f; // people
$infrastructure-pointer: #80c87f; // infrastructure
$vehicle-pointer: #E08DAC; // vehicle // danger
$exitlight-pointer: #38fe25; // exit light
$tool-pointer: #f6b042; // tools // warning
$machine-pointer: #f6b042; // machine // warning

  // NAV COLORS
$nav-bg: #fd797a;
$nav-icons: #ffffff;
$nav-btn-txt: #ffffff;

  // PROGRESS STEPS
$steps: #fd797a;

  // TOOLTIP
$ttip-main: #ecd9d8;
$ttip-border: #fd797a;
$ttip-icons: #fd797a;
$ttip-shadow: #000;
$ttip-as-stat: #f8eded;

  // ACTION PANEL
$action-btn: #fb8687;
$action-btn-txt: #f0f0f0;
$cancel-btn: #353535;
$indoor-btn: #c54f51;

  // GOOGLE MAP
$pointer-bg: #f6b042;
$pointer-as: #000;
$ttip-gmap: #ecd9d8;