  // COLORS
$primary: #ffe1db;
$secondary: #9b9999;
$light-coral: #b01c00;
$medium-purple: #7365dc;
$pale-green: #7dff79;
$green-yellow: #CEFF79;
$lemon-chiffon: #FFFB79;
$aqua: #07DACF;
$state-blue: #7394F0;
$text: #292929;
$disable: #656972;
$shadow: #3a3a3a;

  // INDICATOR COLOR
$indicator-pale-green: #08c501;
$indicator-green-yellow: #8ad30c;
$indicator-lemon-chiffon: #f8c210;
$indicator-light-coral: #f81010;
$indicator-state-blue: #7394F0;
$indicator-disable:#646464;

// STATUS COLOR
$status-update: #11c00b;
$status-good: #11c00b;
$status-alert: #f81010;
$status-warning: #DB5461;
$status-cold: #7394F0;
$status-disable: #C6B9CD;
//-------
// POINTERS ON THE MAP
$wear-pointer: #80c87f; // people
$infrastructure-pointer: #80c87f; // infrastructure
$vehicle-pointer: #E08DAC; // vehicle // danger
$exitlight-pointer: #38fe25; // exit light
$tool-pointer: #f6b042; // tools // warning
$machine-pointer: #f6b042; // machine // warning


  // NAV COLORS
$nav-bg: #b01c00;
$nav-icons: #ffe1db;
$nav-btn-txt: #ffe1db;

  // PROGRESS STEPS
$steps: #b01c00;

  // TOOLTIP
$ttip-main: #f8eded;
$ttip-border: #b01c00;
$ttip-icons: #b01c00;
$ttip-shadow: #000;
$ttip-as-stat: #f8eded;

  // ACTION PANEL
$action-btn: #bb361d;
$action-btn-txt: #f0f0f0;
$cancel-btn: #353535;
$indoor-btn: #f36769;

  // GOOGLE MAP
$pointer-bg: #f6b042;
$pointer-as: #000;
$ttip-gmap: #f8eded;
